/*-- scss:defaults --*/

$link-color: #b67900;
$presentation-heading-color: #a13c65;
$code-block-border-color: #000000;
$h3-color: #c76e96;
$h1-color: #d79b34;
$h1-font-size: 4em;  //Increase the h1 font size
$h2-font-size: 2em;  //Increase the h2 font size
$h3-font-size: 1.2em;  //Increase the h3 font size

/*-- scss:rules --*/

.reveal h1:not(.title):not(.subtitle) {
  color: $h1-color;
  font-size: $h1-font-size;
}

.reveal h2 {
  margin-bottom: 30px;
  font-size: $h2-font-size;
}

.reveal h3 {
  margin-bottom: 20px;
  font-size: $h3-font-size;
}

.reveal h3 {
  color: $h3-color;
}

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.3em !important;
}

.reveal .logo {
  font-size: 0.9em !important;
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.sectionhead {
  font-size: 1em;
  text-align: center;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 2px 2px 2px 2px;
  width: 120px;
  border-left: 10px solid;
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}


